/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../src/assets/bg-1.jpeg");
}
.banner-txt {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul li {
  margin: 4px 10px;
  align-self: flex-end;
}
input,
select {
  border: 1px solid rgb(173, 134, 6);
  background-color: transparent;
  padding: 4px 7px;
  width: 12rem;
  height: 2.5rem;
  outline: none;
}
input:focus{
  outline: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
  font-weight: 400;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-weight: 400;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
  font-weight: 400;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-weight: 400;
}
